[phases.setup]
nixPkgs = ["nodejs_20", "python311", "python311Packages.pip"]

[phases.install]
cmds = [
  "npm install",
  "python -m pip install --break-system-packages -r ml/requirements.txt"
]

[start]
cmd = "node server.js"
