[phases.setup]
nixPkgs = [
  "nodejs_20",
  "python311",
  "python311Packages.numpy",
  "python311Packages.pandas",
  "python311Packages.scikit-learn"
]

[phases.install]
cmds = [
  "npm install",
  "rm -rf .venv",
  "python3 -m venv --system-site-packages .venv",
  ".venv/bin/pip install -U pip setuptools wheel",
  ".venv/bin/pip install joblib==1.3.2"
]

[phases.build]
cmds = [
  ".venv/bin/python ml/train.py"
]

[start]
cmd = "node server.js"
