[phases.setup]
nixPkgs = [
  "nodejs_20",
  "python311",
  "python311Packages.pip",
  "python311Packages.numpy",
  "python311Packages.pandas",
  "python311Packages.scikit-learn"
]

[phases.install]
cmds = [
  "npm install",
  "cd backend && pip install -r ml/requirements.txt"
]

[start]
cmd = "cd backend && node server.js"
