[phases.setup]
nixPkgs = [
  "nodejs_20",
  "python311",
  "python311Packages.pip"
]

[phases.install]
cmds = [
  "npm install",
  "/root/.nix-profile/bin/pip install --break-system-packages numpy pandas scikit-learn joblib"
]

[phases.build]
cmds = [
  "python3 ml/train.py"
]

[start]
cmd = "node server.js"
