[phases.setup]
nixPkgs = ["nodejs_20", "python311", "python311Packages.pip"]

[phases.install]
cmds = [
  "cd backend && npm install",
  "python -m pip install -r backend/ml/requirements.txt"
]

[start]
cmd = "cd backend && node server.js"
