[phases.setup]
nixPkgs = [
  "nodejs_20",
  "python311"
]

[phases.install]
cmds = [
  "npm install",
  "rm -rf .venv",
  "python3 -m venv .venv",
  ".venv/bin/pip install -U pip setuptools wheel",
  ".venv/bin/pip install numpy pandas scikit-learn joblib"
]

[phases.build]
cmds = [
  ".venv/bin/python ml/train.py"
]

[start]
cmd = "node server.js"
