[phases.setup]
nixPkgs = ["nodejs_20", "python311Full"]

[phases.install]
cmds = [
  "npm install",
  "python -m ensurepip --upgrade",
  "python -m pip install --upgrade pip",
  "python -m pip install -r ml/requirements.txt"
]

[start]
cmd = "node server.js"

