[phases.setup]
nixPkgs = [
  "nodejs_20",
  "python311",
  "python311Packages.pip",
  "python311Packages.numpy",
  "python311Packages.pandas",
  "python311Packages.scikit-learn"
]

[phases.install]
cmds = [
  "npm install",
  "pip install --break-system-packages joblib"
]

[start]
cmd = "node server.js"
